<h1>Welcome to Sydney Greentweet</h1>
<p>This is a test page to see if authorization is working. Click the button below to authorize Sydney Greentweet to use your Twitter account.
(Don't worry, this is safe. When the app is created it will store a pair of access keys that will enable you to use SGT - it doesn't save
and in fact never even sees your password.)</p>

<%= link_to "Let's get started!", @authorize_url, class: 'btn btn-primary' %>


